.leftportion{
    flex:30%;
    background-color: cadetblue;
    height:100vh;
}

.inputbox{
    width:400px;
    background-color: cadetblue;
    border-radius: 100px solid cadetblue;
    height: 30px;
    margin-left: 20px;
}